.signup_page {
    background-color: #dcdcdc69;
    width: 100%;
    min-height: 100vh;
}

.signup_page_header {
    font-family: var(--font-bungee);
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    border-bottom: 1px solid gainsboro;
}

.signup_page_logo>a {
    display: flex;
    align-items: flex-end;
    color: black;
}

.signup_page_button {

    font-family: var(--font-bungee);
    font-size: .9em;
    width: 72px;
    height: 40px;
    border: none;
    background-color: var(--header-btn-bg);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_page_button>a {
    color: white;
}

.form_container {
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotten_password {
    width: 100%;
    text-align: end;
    font-family: var(--font-geist-mono);
    font-size: .8em;
}

@media (min-width: 400px) {
    .form {
        /* border: 1px solid #dcdcdc6d; */
        width: 400px;
        /* height: 400px; */
        padding: 20px;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

}

.form_head {
    height: 50px;
    /* background-color: blue; */
    font-size: 1.8em;
    font-family: var(--font-bungee);
}

.input {
    position: relative;
    font-family: var(--font-geist-mono);
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    width: 100%;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: inherit;
}

.error_message{
    color: red;
    width: 100%;
    font-size: 0.7em;
    font-family: var(--font-geist-sans);
}
.input::placeholder {
    display: none;
    color: transparent;
}

._placeholder {
    border: none;
    color: #757581;
    font-weight: bold;
    position: absolute;
    z-index: 20;
    font-family: var(--font-geist-mono);
    font-size: 1em;
    -webkit-user-select: none;
    user-select: none;
    transform: translate(10px, 15px);
}

.submit {
    background-color: var(--header-btn-bg);
    color: white;
    justify-content: center;
    align-items: center;
}
.submit:disabled{
    background-color: #3c6cafab;
    cursor: not-allowed;
}
.google_github_auth {
    margin-bottom: 20px;
    color: var(--header-btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.line_with_text {
    /* background-color: red; */
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    font-family: var(--font-geist-sans);
    width: 100%;
    height: 40px;
}

.line_with_text::before,
.line_with_text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gainsboro;
}

.line_with_text::before {
    margin-right: 10px;
}

.line_with_text::after {
    margin-left: 10px;
}

@media (max-width: 399px) {
    .form {
        width: 330px;
        padding: 20px;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }
}